{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@OpenClassroomsDoctrineCacheExtension/Collector/icon.svg') }}
        <span class="sf-toolbar-value">{{ collector.allQueriesCount }} in {{ collector.allQueriesDuration|round(2) }}ms</span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Fetch Queries</b>
            <span>{{ collector.allFetchQueriesCount }}</span> |
            <span>{{ collector.allFetchQueriesDuration|round(2) }} ms</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Save Queries</b>
            <span>{{ collector.allSaveQueriesCount }}</span> |
            <span>{{ collector.allSaveQueriesDuration|round(2) }} ms</span>
        </div>

        {#<div class="sf-toolbar-info-piece">#}
        {#<b>Accepted content type</b>#}
        {#<span>{{ collector.acceptableContentTypes|join(', ') }}</span>#}
        {#</div>#}
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler (default is 'true'). #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">{{ include('@OpenClassroomsDoctrineCacheExtension/Collector/icon.svg') }}</span>
        <strong>Cache</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Cache</h2>
    {% for provider, items in collector.queriesDetails %}
        <h3>{{ provider }}</h3>
        <details>
            <summary>Detail</summary>
            <table>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Id</th>
                </tr>
                {% for callId, item in items %}
                    <tr>
                        <td>{{ callId + 1 }}</td>
                        <td>{{ item.duration|round(2) }} ms</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.id }}</td>
                    </tr>
                {% endfor %}
            </table>
        </details>
    {% endfor %}
{% endblock %}
